h1 {
  font-family: "RobotoBold";
  font-size: 26px;
  text-transform: uppercase;
  margin: 20px 0px 15px 0px;
  text-align: center; }

h5 {
  font-family: "RobotoBold";
  font-size: 16px;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px; }

.main-img {
  width: 100%;
  max-width: 320px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: 286px;
  background: url(../img/az-main-img-bg.jpg) no-repeat top center;
  position: relative;
  margin: 0 auto; }
  .main-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%; }

.az-imgs {
  width: 100%;
  font-size: 0px; }

.az-img {
  position: relative;
  width: 24%;
  height: 64px;
  margin-left: 0.66%;
  margin-right: 0.66%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top; }
  .az-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%; }

.az-img:first-child {
  margin-left: 0%; }

.az-img:last-child {
  margin-right: 0%; }

.az-margin {
  max-width: 320px;
  margin: 10px auto; }

.az-margin7 {
  margin-top: 7px; }

.az-margin10 {
  margin-top: 10px; }

.az-marginb10 {
  margin-bottom: 10px; }

.az-margin12 {
  margin-top: 12px; }

.az-margin16 {
  margin-top: 16px; }

.az-margin17 {
  margin-top: 17px; }

.az-margin39 {
  margin-top: 39px; }

.az-breadcrumb {
  font-family: "RobotoRegular";
  font-size: 14px;
  color: #666666;
  margin-top: 40px; }
  .az-breadcrumb a {
    color: #666666; }
  .az-breadcrumb span {
    color: #dc5858; }

.az-socials {
  text-align: center; }
  .az-socials li {
    display: inline-block;
    margin: 0 3px; }
  .az-socials li:first-child {
    margin: 0 3px 0 0; }
  .az-socials li:last-child {
    margin: 0 0 0 3px; }

.az-list {
  margin: 12px auto 0 auto;
  max-width: 360px; }
  .az-list li {
    font-family: "RobotoRegular";
    font-size: 16px;
    padding-left: 40px;
    position: relative;
    line-height: 45px; }
    .az-list li span {
      line-height: 20px; }
  .az-list li:before {
    position: absolute;
    content: '';
    top: 12px;
    left: 0px;
    display: block; }
  .az-list .az-icon1:before {
    width: 30px;
    height: 21px;
    background: url(../img/az-icon1.png) no-repeat top left; }
  .az-list .az-icon2:before {
    width: 22px;
    height: 26px;
    background: url(../img/az-icon2.png) no-repeat top left; }
  .az-list .az-icon3:before {
    width: 29px;
    height: 21px;
    background: url(../img/az-icon3.png) no-repeat top left; }

.az-ch {
  display: inline-block; }

.az-ul-ch {
  font-family: "RobotoRegular";
  font-size: 16px;
  border-top: 1px solid #d9d9d9; }

.az-left {
  float: left; }

.az-right {
  float: right; }

.az-center {
  text-align: center; }

.az-center2 {
  text-align: center; }

.az-button1 {
  font-family: "RobotoBold";
  text-align: center;
  font-size: 16px;
  color: #da4c4c;
  height: 40px;
  line-height: 36px;
  border: 2px solid #da4c4c;
  border-radius: 4px; }

.az-margin3 {
  margin-top: 25px;
  margin-bottom: 10px; }

.az-button2 {
  background-color: #F1C22B;
  font-family: "RobotoBold";
  text-align: center;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  height: 49px;
  line-height: 49px; }

.az-buy {
  width: 100%;
  padding: 20px 35px;
  background: #ffffcc; }

.az-price {
  font-family: "RobotoBold";
  font-size: 32px;
  color: #cc3333;
  display: block;
  text-align: center;
  text-transform: uppercase; }

.az-stars {
  display: inline-block;
  font-size: 0px; }
  .az-stars input[type="radio"] {
    display: none; }
  .az-stars .az-none {
    display: none; }
  .az-stars .label1, .az-stars .label2, .az-stars .label3, .az-stars .label4, .az-stars .label5 {
    width: 21px !important;
    height: 15px;
    display: inline-block;
    background: url(../img/gray-star.png) no-repeat top center;
    cursor: pointer; }
  .az-stars .radio1:checked ~ label,
  .az-stars .radio2:checked ~ label,
  .az-stars .radio3:checked ~ label,
  .az-stars .radio4:checked ~ label,
  .az-stars .radio5:checked ~ label {
    background: url(../img/yellow-star.png) no-repeat top center; }
  .az-stars .radio1:checked ~ .label1 ~ label,
  .az-stars .radio2:checked ~ .label2 ~ label,
  .az-stars .radio3:checked ~ .label3 ~ label,
  .az-stars .radio4:checked ~ .label4 ~ label,
  .az-stars .radio5:checked ~ .label5 ~ label {
    background: url(../img/gray-star.png) no-repeat top center; }

.az-stars:hover label {
  background: url(../img/yellow-star.png) no-repeat top center !important; }
.az-stars:hover .label1:hover ~ label,
.az-stars:hover .label2:hover ~ label,
.az-stars:hover .label3:hover ~ label,
.az-stars:hover .label4:hover ~ label,
.az-stars:hover .label5:hover ~ label {
  background: url(../img/gray-star.png) no-repeat top center !important; }

.az-check input {
  display: none; }
.az-check label {
  display: inline-block;
  margin-left: 14px;
  font-family: "RobotoRegular";
  font-size: 14px;
  position: relative;
  cursor: pointer; }
.az-check label:before {
  position: absolute;
  content: '';
  top: 50%;
  left: -26px;
  width: 17px;
  height: 17px;
  transform: translate(0, -50%);
  background: url(../img/checkbox.png) no-repeat top left; }
.az-check input:checked ~ label:before {
  background: url(../img/checkedbox.png) no-repeat top left; }

.az-sel-item {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 0px;
  position: relative;
  margin-top: 7px; }
  .az-sel-item select {
    width: 100%;
    border: none;
    outline: none;
    font-family: "RobotoLight";
    font-size: 15px;
    position: relative;
    z-index: 4;
    background: transparent;
    padding: 4px 7px;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .az-sel-item select::-ms-expand {
    display: none; }
  .az-sel-item .az-select-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 100%;
    background: #fff url(../img/select-arrow.png) no-repeat center center;
    display: inline-block; }

.az-select label {
  font-family: "RobotoRegular";
  font-size: 14px; }

.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%; }

.tabs__margin {
  margin-top: 15px;
  font-size: 0px; }

.tabs label {
  cursor: pointer;
  display: block;
  position: relative; }

.tabs input {
  position: absolute;
  left: -9999px; }

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3,
#tab_4:checked ~ #tab_l4 {
  top: 0;
  z-index: 3; }
  #tab_1:checked ~ #tab_l1 .az-tab-header,
  #tab_2:checked ~ #tab_l2 .az-tab-header,
  #tab_3:checked ~ #tab_l3 .az-tab-header,
  #tab_4:checked ~ #tab_l4 .az-tab-header {
    background: #ffcc33; }

.tabs_cont {
  position: relative;
  z-index: 2; }

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  width: 100%;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  font-size: 0; }

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
  position: static;
  left: 0;
  opacity: 1; }

/*tabs style*/
.tabs .lbl {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px; }
.tabs .az-tab-header {
  font-size: 12px;
  background: #eee;
  width: 100%;
  height: 40px;
  font-family: "RobotoRegular";
  display: block;
  font-size: 16px;
  line-height: 40px;
  text-align: center; }
.tabs .az-tab-header:hover {
  background: #ffcc33; }

.tab-item {
  font-size: 12px; }

/*tabs style*/
.az22 {
  width: 100%;
  padding-left: 15px;
  height: 155px;
  text-align: left;
  font-family: "RobotoRegular";
  color: black;
  font-size: 16px;
  letter-spacing: -0.01em; }

.az-border {
  border: 1px solid #cccccc;
  padding: 15px 15px 15px 15px; }

.azmarginn {
  margin-top: 0px !important; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .az-button1 {
    font-family: "RobotoBold";
    text-align: center;
    font-size: 16px;
    color: #da4c4c;
    height: 40px;
    line-height: 36px;
    border: 2px solid #da4c4c;
    border-radius: 4px; }

  .az-button2 {
    background-color: #F1C22B;
    font-family: "RobotoBold";
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    height: 40px;
    line-height: 40px; } }
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .az-asdf {
    width: calc(100% - 136px);
    margin-top: 25px; }

  .tabs .lbl {
    width: 25%;
    display: inline-block; }

  .az-center {
    text-align: left; }

  .az-list {
    margin: 12px 0 0 0; }

  .az-socials {
    text-align: left; }

  .az-margin5 {
    margin-left: 20px; }

  h1 {
    text-align: left; }

  .az-button1 {
    font-family: "RobotoBold";
    text-align: center;
    font-size: 16px;
    color: #da4c4c;
    height: 40px;
    line-height: 36px;
    border: 2px solid #da4c4c;
    border-radius: 4px; }

  .az-button2 {
    background-color: #F1C22B;
    font-family: "RobotoBold";
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    height: 49px;
    line-height: 49px; } }
/* Large Devices, Wide Screens */
/***************/
/*cols*/
.az-row {
  display: block;
  width: 100%;
  font-size: 0px; }

.az-col-10 {
  display: inline-block;
  width: 20%;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-20 {
  display: inline-block;
  width: 20%;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-30 {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-40 {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-49 {
  display: inline-block;
  width: 49%;
  margin-right: 2%;
  font-size: 12px;
  vertical-align: top; }

.az-col-50 {
  display: inline-block;
  width: 49%;
  font-size: 12px;
  vertical-align: top; }

.az-col-58 {
  display: inline-block;
  width: 58%;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-69 {
  display: inline-block;
  width: 69%;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-100 {
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.az-col-100-px {
  display: inline-block;
  width: 100px;
  margin-right: 1%;
  font-size: 12px; }

.az-col-150-px {
  display: inline-block;
  width: 150px;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-200-px {
  display: inline-block;
  width: 200px;
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-99-100-px {
  display: inline-block;
  width: calc(99% - 100px);
  margin-right: 1%;
  font-size: 12px; }

.az-col-98-200-px {
  display: inline-block;
  width: calc(98% - 200px);
  margin-right: 1%;
  font-size: 12px; }

.az-col-98-300-px {
  display: inline-block;
  width: calc(98% - 300px);
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-49-100-px {
  display: inline-block;
  width: calc(49% - 100px);
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-30-100-px {
  display: inline-block;
  width: calc(30% - 100px);
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-44-100-px {
  display: inline-block;
  width: calc(44% - 100px);
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-45-100-px {
  display: inline-block;
  width: calc(45% - 100px);
  margin-right: 1%;
  font-size: 12px;
  vertical-align: top; }

.az-col-push-30 {
  margin-right: 30%;
  vertical-align: top; }

.az-col-push-10 {
  margin-right: 10%;
  vertical-align: top; }

[class*="az-col"]:last-child {
  margin-right: 0px; }

@media only screen and (max-width: 991px) {
  .az-col-md-hidden {
    display: none; }

  .az-col-md-99-100-px {
    display: inline-block;
    width: calc(99% - 100px);
    margin-right: 1%; }

  .az-col-md-49 {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
    vertical-align: top; }

  .az-col-md-push-0 {
    margin-right: 0px;
    vertical-align: top; } }
@media only screen and (max-width: 480px) {
  .az-col-xs-hidden {
    display: none; }

  .az-col-xs-99-100-px {
    display: inline-block;
    width: calc(99% - 100px);
    margin-right: 1%; }

  .az-col-xs-49 {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
    vertical-align: top; }

  .az-col-xs-100 {
    display: inline-block;
    width: 100%;
    vertical-align: top; }

  .az-col-xs-push-0 {
    margin-right: 0px;
    vertical-align: top; } }
/*cols*/

/*# sourceMappingURL=style3.css.map */
