$red: #c60006;

//область шапки на всю ширину
.header-top{
  width: 100%;
  background-color: #000; 
  text-align: center;
  padding:20px 0px;
}
//контейнер
.header-main{
    width: 1170px;
    margin: 10px auto;
    
}
//контент хедера
.ab-phone-header, .ab-phone-header2, .ab-regim-header{
    display: inline-block;
    color:#fff;
    padding:5px 20px;
    font-size: 16px;

}

.ab-regim-header{
  background: url(../img/watch-header.png) no-repeat center left;
  padding-left:25px;
  font-size: 16px;
  font-weight: normal;
  padding-top: 8px;
  font-family: "RobotoLight";
}

.ab-phone-header{
  background: url(../img/phone.png) no-repeat center left;
  display: inline-block;
  margin-right: 10px;
  font-family: "RobotoMedium";
  font-size: 18px;

}

.ab-phone-header2{
  background: url(../img/phone.png) no-repeat center left;
  font-family: "RobotoMedium";
  font-size: 18px;
}

//кнопка хедера
.contact-box a{
  display: inline-block;
  padding: 2px 10px;
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 14px;

  background-color: #DA4C4C;
    width: 205px;
    margin: 6px auto;
    border-radius: 5px;
    height: 27px;
}


/*== Блок с логотипом ==*/

.ab-logo-wrapper{
  width: 100%; 
  text-align: center;
  padding:10px 0px;
}

.ab-logo{
  background: url(../img/logo.png) no-repeat center left;
  display: inline-block;
  font-family: "RobotoBold";
  font-size: 22px;
  padding-left: 60px;
}

.ab-logo-box{
//padding-left: 30px;
margin: 0 auto;
}

.ab-slogan{
  display: inline-block;
  font-family: "RobotoRegular";
  font-size: 11px;
}

.ab-dostavka, .ab-predoplata, .ab-garantia, .ab-korzina {
  display: inline-block;
  font-family: "RobotoRegular";
  font-size: 16px;
  padding-right: 45px;
  margin-bottom: 15px;
}

.ab-dostavka{
  background: url(../img/dostavka.png) no-repeat center left;
  padding-left: 50px;
}

.ab-predoplata{
  background: url(../img/predoplata.png) no-repeat center left;
  padding-left: 47px;
}

.ab-garantia{
  background: url(../img/garantia.png) no-repeat center left;
  padding-left: 30px;
}

.ab-korzina{
  background: url(../img/korzina.png) no-repeat center left;
  padding-left: 35px;
  padding-right: 0;
}

.ab-blok-logo{
  padding-top: 15px;
}

/*== Главное меню ==*/



.ab-classmenu{
background-color: #F1C22B;
}

.ab-classmenu ul li{
    display: inline-block;
//padding: 15px 18px;
}

.ab-classmenu{
    ul{
        color: red;
        li{ position: relative;
            a{
                color: black;
                font-size: 16px;
                font-family: "RobotoRegular";
                padding: 15px 28px;
                display: inline-block;
                //padding-left: 2px;
                
            }
        }
        li:before{
            position: absolute;
            content: "";
            width: 1px;
            height: 30px;
            background: url(../img/razdelitel-menu.png) no-repeat top center;
            top: 10px;
            left: 5px;
            a:hover{

            }
        }
    }
}

.domik{
    padding-left: 45px;
    padding-right: 9px;
}



/*== Основной контент - верхний блок с картинками==*/

.ab-tovar-item-wrapper {
 
 width: 100%;
}

.ab-img-box{
 //margin: 0 auto;
}
.ab-tovar-item {
  display: inline-block;
  padding: 10px 7px;
  text-align: center;
  width: 134px;
  height: 140px;
  margin: 3px 60px;
}

.ab-box-zagolovok{
  display: block;
  font-family: "RobotoRegular";
  text-align: center;
}

.ab-box-price{
  display: block;
  font-family: "RobotoRegular";
  color: red;
  text-align: center;
}

/*== Сайдбар ==*/

.ab-side-bar{
 padding-left: 60px;
}

.ab-side-zag{
  font-family: "RobotoRegular";
  text-align: center;
  font-size: 16px;
  padding: 8px 50px 5px 25px;
  display: inline-block; 
}

.ab-side-color{
  font-family: "RobotoBold";
  text-align: center;
  font-size: 16px;
  padding-left: 23px;
  display: inline-block;
  margin-top: 15px; 
}

//Оранжевая рамка с надписью
.ab-ramka {
  -webkit-transform: skew(-14deg);
  -moz-transform: skew(-14deg);
  -o-transform: skew(-14deg);
  border: 2px solid orange;
  text-align: left;
  //margin-top: 15px; //декстоп
  margin: 10px 28px;
  display: inline-block;
}

//Общие стили для текста в рамке
.ab-textvramke-1, .ab-textvramke-2 {
  -webkit-transform: skew(14deg);
  -moz-transform: skew(14deg);
  -o-transform: skew(14deg);
  display: inline-block;
  font-family: "RobotoRegular";
  text-align: center;
  font-size: 16px;
  
}

//Отдельные стили для текста в рамке
.ab-textvramke-1 {
  padding: 8px 85px 5px 25px;
}

.ab-textvramke-2 {
  padding: 8px 135px 5px 25px;
}

//Иконки в сайдбаре
.ab-link1 {
background: url(../img/g1.png) no-repeat center left;
}
.ab-link2 {
background: url(../img/g2.png) no-repeat center left;
}
.ab-link3 {
background: url(../img/g3.png) no-repeat center left;
}
.ab-link4 {
background: url(../img/g4.png) no-repeat center left;
}
.ab-link5 {
background: url(../img/g5.png) no-repeat center left;
}
.ab-link6 {
background: url(../img/g6.png) no-repeat center left;
}

//Цвет ссылки возле иконок в сайдбаре
a{
color:black;
}

//Общие класс для ul сайдбара
.ab-link-span {
padding-top: 11px;
font-family: "RobotoRegular";
font-size: 16px;
padding-left: 40px;
padding-top: 10px;
display: inline-block;
}

.ab-links {
  padding-top: 10px;
}

.ab-side-banner {
  margin: 40px auto;
}


/*== Блок с товаром под слайдером ==*/

.ab-tovar-main {
background: url(../img/tovar-bg.png) no-repeat;
width: 100%;
background-size: cover;
border: 1px solid #D1D1D1;
border-radius: 6px;
margin-top: 15px;
}

.ab-img-box-main {
   padding: 78px 40px 34px;
}

.ab-tovar-name {
font-family: "RobotoBold";
text-align: center;
font-size: 16px;
margin-left: 40px;
}

.ab-line {
background: url(../img/line.png) no-repeat;
width: 100%;
height: 1px;
display: inline-block;
background-size: cover;
}

.ab-table-row {
  display: table;
  width: 100%;
}

.ab-table-row-left, .ab-table-row-right {
 vertical-align: middle;
 display: table-cell;
 font-family: "RobotoLight";
}

.ab-table-row-left {
  text-align: left;
  padding-left: 13px;
}

.ab-table-row-right {
  text-align: right;
  padding-right: 13px;

}

/* Две кнопки в карточке товара */
.ab-button-left {
 font-family: "RobotoBold";
 text-align: center;
 font-size: 18px;
 color:red;
 border: 2px solid red; 
 border-radius: 4px;
 padding: 8px 23px;
 display: inline-block;
 margin: 35px 5px 20px;
}

.ab-button-right {
 background-color: #F1C22B;
 font-family: "RobotoBold";
 text-align: center;
 font-size: 18px;
 color:white; 
 border-radius: 4px;
 padding: 10px 28px;
}



/*== Блок с картинкой на всю ширину и 5 элементами ==*/

.ab-content-body-full-width {
    background: rgba(0, 0, 0, 0) url("../img/full-img.png") no-repeat center top;
    background-size: cover;
    //height: 390px;
    //margin-bottom: 10px;
   // margin-top: 10px;
    padding: 170px 5px;
    position: relative;
    z-index: 2;
}

.ab-ramki{
    width: 100%;
    height: 152px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "RobotoRegular";
    text-align: center;
    font-size: 16px;
    color:black;
    display: block;

    //margin: 145px 19px 19px;

   // padding: 10px 10px;
    position: relative;
    border-radius: 5px;
    outline: 1px solid red;
}

.ab-box1 {
width: 100%;
//float: left;
outline: 2px solid red;

}


/*.ab-box1 {
width: 20%;
float: left;
box-sizing: border-box; 
}
*/
.ab-ramki-img{
    display: block; 
    position: absolute;
    margin-left: 50%;

    transform: translate (-50%,0);
    width: 103px;
    height: 103px;
    
    outline: 1px solid red;
    img{
        display: block;
    }

}


.ab-ramki-img-1{
    display: block; 
    position: absolute;
    left: 50%;
    transform: translate (-50%,0);
    width: 190px;
    height: 133px;
    background: url(../img/gruzovik.png) no-repeat top center; 
    outline: 1px solid red;
}

.ab-ramki-img-2{
  
    position: absolute;
    background: url(../img/medal.png) no-repeat top center;
    margin-left: 50%;
    transform: translate (-50%,0);
    width: 190px;
    height: 133px; 
}

.ab-ramki-img-3{

position: absolute;
width: 190px;
height: 133px;
background: url(../img/punkty.png) no-repeat top center;
margin-left: 50%;
transform: translate (-50%,0);
margin-top: -102px; 
}

.ab-ramki-img-4{

position: absolute;
margin-left: 50%;
transform: translate (-50%,0);
margin-top: -102px; 
width: 190px;
height: 133px;
background: url(../img/people.png) no-repeat top center;

}

.ab-ramki-img-5 {

position: absolute;
margin-left: 50%;
transform: translate (-50%,0);
margin-top: -102px; 
width: 190px;
height: 133px;
background: url(../img/vozvrat.png) no-repeat top center;
}


/* Записи в рамках общие 
.ab-ramki-word {
background-color: rgba(255, 255, 255, 0.8);
font-family: "RobotoRegular";
text-align: center;
font-size: 16px;
color:black;
display: block;
padding: 60px 10px;
width: 190px;
}*/

/* Отдельный класс для последней записи 
.ab-ramki-word {
font-family: "RobotoRegular";
text-align: center;
font-size: 16px;
color:black;
display: inline-block;
padding: 59px 24px;
background-color: rgba(255, 255, 255, 0.8);
width: 100%;
}*/

/*== Блок Новости со слайдом ==*/


.owl-carousel {
 margin-top: 20px;
 margin-bottom: 20px;
}

.ab-news-bg {
   background: rgba(0, 0, 0, 0) url("../img/news-bg.png") no-repeat scroll center top / cover ;
    margin-top: -170px;
    //margin-top: -44px;
    position: relative;
    z-index: 1;
}

#owl-example {
  .item {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
  } 
}


h2 {
  color: black;
  display: block;
  font-family: "RobotoBold";
  font-size: 34px;
  margin: 18px auto;
  text-align: center;
}

.ab-item-date {
font-family: "RobotoLight";
text-align: left;
font-size: 17px;
color:#CCCBCF;
display: inline-block;
padding-left: 20px;
}

.ab-item-title {
font-family: "RobotoRegular";
text-align: left;
font-size: 18px;
color:black;
display: inline-block;
//padding-left: 20px;
padding-left: 10px;
}

.ab-img-box4{
  margin: 10px 52px;
}

/* Кнопка на слайдере */
.ab-slide-button {
    background-color: #da4c4c;
    color: #fff;
    display: block;
    //margin: 21px auto;
    //text-align: center;
    margin-left: calc(100% - 156px);
    transform: skew(-24deg);
    width: 140px;

}

/* Текст со ссылкой на слайдере */
.ab-slide-button-txt a {
  color: white;
    display: block;
    font-family: "RobotoBold";
    height: 45px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    transform: skew(23deg);
    width: 155px;
}

.owl-prev {
width: 12px;
height: 20px;
background: url(../img/slide-left.png) no-repeat;
margin: -134px -23px;
}

.owl-next {
width: 12px;
height: 20px;
background: url(../img/slide-right.png) no-repeat;
margin: 113px 1149px;
}



/*== Блок Отзывы со слайдом ==*/

#owl-example2 {

  .owl-prev{
      width: 12px;
      height: 20px;
      background: url(../img/ll.png) no-repeat;
      margin: -114px -40px;

  }
}

#owl-example2 {

  .owl-next{
      width: 12px;
      height: 20px;
      background: url(../img/rr.png) no-repeat;
      margin: 91px 1164px;
      
  }
}



.ab-slide-bg {
  background: rgba(0, 0, 0, 0) url("../img/full-slide-bg.png") no-repeat scroll center top;
  background-size: cover;    
}

.ab-otzivi {
    color: black;
    display: block;
    font-family: "RobotoBold";
    font-size: 20px;
    margin-bottom: 70px;
    margin-top: 6px;
    text-align: center;
}

.ab-box-text {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ab-img-box5{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 10em;
  overflow: hidden;
  position: relative;

   img {

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //min-width: 100%;
    height: 100%;
    //width:100%;
    //height: 
    //width: 100px;
    //height: 100px;
   }

}

.ab-name-otziv{
color: #949494;
font-family: "RobotoRegular";
text-align: center;
font-size: 16px;
margin-top: -3px;
margin-bottom: 10px;
}

.ab-name-otziv2{
color: #949494;
font-family: "RobotoRegular";
text-align: center;
font-size: 16px;
margin-top: -11px;
margin-bottom: 10px;
}

.ab-txt-sl {
//background-color: #D4D6D7;
font-family: "RobotoRegular";
text-align: center;
font-size: 18px; 
//margin-bottom: 10px;
//margin-top: 10px;
padding: 10px 5px;
color: #DA4C4C;
}

.ab22 {
  display: block;
color: black;
font-family: "RobotoRegular";
text-align: center;
font-size: 16px;
margin-bottom: 10px;
padding: 10px;
text-align: center;
//width: 250px;
}


.ab-button-otziv {
background-color: #F1C22B;
font-family: "RobotoRegular";
text-align: center;
font-size: 16px;
width: 240px;
height: 40px;
margin: 122px auto 75px;
border-radius: 5px;
display: block;
 
 a {
  display: block;
  width: 100%;
  padding: 10px 10px;
 }

}


.ab-box-text{
  width: 100%;
  background-color: rgba(255,255,255, 0.8);
}

/*== Блок о нас ==*/

.ab-about-us {
  span{
  font-family: "Robotobold";
  text-align: center;
  font-size: 25px;
  display: block;
  margin: -20px auto 9px; 
  }
}

.ab-about-us-txt {
  span{
  font-family: "MyriadPro-Regular";
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px; 
  }
}

/*== Как купить гироскутер ==*/

.ab-last-full-bg {
  width: 100%;
  background: url(../img/lust-full-bg.png) no-repeat top center;
  //height: 378px;
  background-size: cover;
}

.ab-kak-kupit {
  span {
    display: block;
    font-family: "Robotobold";
    font-size: 20px;
    //margin: 23px 11px;
    margin-bottom: 24px;
    margin-top: 15px;
    text-align: center;


  }
}

.ab-img-phone {
  width: 61px;
  height: 61px;
  background: url(../img/phone-bg.png) no-repeat;
  display: block; 
  margin: 0 auto; 
}

.ab-img-gruz {
  width: 80px;
  height: 60px;
  background: url(../img/gruz.png) no-repeat;
  display: block; 
  margin: 0 auto; 
}

.ab-img-scooter {
  width: 50px;
  height: 66px;
  background: url(../img/scooter.png) no-repeat;
  display: block; 
  margin: -3px auto; 
}


.ab-txt-phone {
  span {
    color: white;
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    padding: 15px;
    text-align: center;


     a {
      text-decoration: underline;
      color: white;
     }

     
  }
}







/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.domik {
        display: none;
    }
.ab-classmenu ul li{
        display: block;
        text-align: center;
    }
 li:before{
            display: none;
            

            } 


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

  
    .domik {
        display: none;
    }
    .ab-classmenu ul li{
        display: block;
        text-align: center;
    }
    .ab-classmenu ul li a {
        padding: 15px 10px;

    }

    li:before{
            display: none;
            

            }


.ab-textvramke-1, .ab-textvramke-2 {
  font-size: 11px;
  
}

.ab-textvramke-1{
  padding: 8px 85px 5px 25px;
}

.ab-textvramke-2{
  padding: 8px 117px 5px 25px;
}


}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.ramka-wrapper{
    text-align: center;
  }
 h2 {
  
  padding-top: 10px;
  margin-top: 77px;

}

}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  h2 {
  padding-top: 100px;
  margin: 17px auto;

}
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
   .ab-slide-button {
    margin-left: calc(100% - 156px);
}



  h2 {
  padding-top: 40px;
  margin:123px auto 15px;

}

  .ab22 {
text-align: left;
width: 325px;
}

  .ab-about-us-txt {
  span{
  text-align: left;
  }
}


.ab-strelki-1 {
 width: 66px;
 height: 26px;
 background: url(../img/strelka.png) no-repeat top center;
 display: block;
 position: absolute;
  margin-left: 325px;
  margin-top: -48px;
}  

.position {
  position: relative;
}

.ab-strelki-2 {
 width: 66px;
 height: 26px;
 background: url(../img/strelka.png) no-repeat top center;
 display: block;
 position: absolute;
 margin-left: 349px;
  margin-top: -49px;
} 

.position-2 {
  position: relative;
}


 .ab-txt-phone {
  span {
    color: white;
    padding: 17px;

     a {
      text-decoration: underline;
      color: white;
     }
  }
} 

.ab-kak-kupit span {
  color: white;
  display: block;
  font-family: "Robotobold";
  font-size: 36px;
  margin: 79px 349px;
} 

.ab-last-full-bg {
  width: 100%;
  background: url(../img/lust-full-bg.png) no-repeat top center;
  height: 378px;
}




/*----------------------------------------------------*/


.ab-otziv-title{
  float: left;
}


.ab-img-box5 {
    //float: left;
     margin: 26px 12px 12px 14px;
   
}
.ab-item-left{
  float: left;
  
}
.ab-txt-sl {
  //background: rgba(0, 0, 0, 0) url("../img/slide-txt-bg.png") no-repeat scroll center top;
    font-family: "RobotoRegular";
    font-size: 20px;
    margin-bottom: -9px;
    margin-top: 6px;
    padding: 8px 14px;
    text-align: left;


}


.ab-slide-bg {
background: url(../img/full-slide-bg.png) no-repeat top center;
height: 490px;
padding: 15px 10px;
margin-top: 10px;
margin-bottom: 10px;
}

.ab-otzivi {
    color: white;
    display: block;
    font-family: "RobotoBold";
    font-size: 36px;
    margin: 37px auto 10px;
    padding-top: 10px;
    text-align: center;
}

/*----------------------------------------------------*/

/* Слайдер новости */

.box1{
  display: flex;
  flex-flow: row wrap; 
}

  .ab-item-title {
padding-left: 20px;
}

  .owl-carousel{
margin-top: 0;
}

.ab-content-body-full-width {
    background: url(../img/full-img.png) no-repeat top center;
    //height: 390px;
    padding: 0px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

  .ab-button-left {
 margin: 35px 8px 20px;
}
   .contact-box {text-align: right;}
   .header-top{
    padding:7px;
   }

.ab-tovar-item {
    margin: 3px 11px;

}

.ab-ramka {
    margin: 11px 15px;
}

}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}