h1{
    font-family: "RobotoBold";
    font-size: 26px;
    text-transform: uppercase;
    margin: 20px 0px 15px 0px;
    text-align: center;
}
h5{
    font-family: "RobotoBold";
    font-size: 16px;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    //border-bottom: 1px solid #d9d9d9;
}

.main-img{
    width: 100%;
    max-width: 320px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    height: 286px;
    background: url(../img/az-main-img-bg.jpg) no-repeat top center;
    position: relative;
    margin: 0 auto;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
}

.az-imgs{
    width: 100%;
    font-size: 0px;
    //max-width: 320px;
}

.az-img{
    position: relative;
    width: 24%;
    height: 64px;
    margin-left: 0.66%;
    margin-right: 0.66%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
}
.az-img:first-child{
    margin-left: 0%;
}
.az-img:last-child{
    margin-right: 0%;
}
.az-margin{
    max-width: 320px;
    margin: 10px auto;
}

.az-breadcrumb{
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #666666;
    margin-top: 40px;
    //margin-left: 20px;
    a{
        color: #666666;
    }
    span{
        color: #dc5858;
    }
}

.az-socials{
    text-align: center;
    li{
        display: inline-block;
        margin: 0 3px;
    }
    li:first-child{
        margin: 0 3px 0 0;
    }
    li:last-child{
        margin: 0 0 0 3px;
    }
}

.az-list{
    margin: 12px auto 0 auto;
    max-width: 360px;
    li{
        font-family: "RobotoRegular";
        font-size: 16px;
        padding-left: 40px;
        position: relative;
        line-height: 45px;
        span{
            line-height: 20px;
        }
    }
    li:before{
        position: absolute;
        content: '';
        top: 12px;
        left: 0px;
        display: block;
    }
    .az-icon1:before{
        width: 30px;
        height: 21px;
        background: url(../img/az-icon1.png) no-repeat top left;
    }
    .az-icon2:before{
        width: 22px;
        height: 26px;
        background: url(../img/az-icon2.png) no-repeat top left;
    }
    .az-icon3:before{
        width: 29px;
        height: 21px;
        background: url(../img/az-icon3.png) no-repeat top left;
    }
}

.az-ch{
    display: inline-block;
}
.az-ul-ch{
    font-family: "RobotoRegular";
    font-size: 16px;
    border-top: 1px solid #d9d9d9; 
}
.az-left{
    float: left;
}
.az-right{
    float: right;
}
.az-center{
    text-align: center;
}
.az-center2{
    text-align: center;
}
.az-button1{
    font-family: "RobotoBold";
    text-align: center;
    font-size: 18px;
    color: #da4c4c;
    height: 40px;
    line-height: 36px;
    border: 2px solid #da4c4c; 
    border-radius: 4px;
    display: block;
}
.az-margin3{
    margin-top: 25px;
    margin-bottom: 10px;
}

.az-buy{
    width: 100%;
    padding: 28px 43px;
    background: #ffffcc;
}
.az-price{
    font-family: "RobotoBold";
    font-size: 32px;
    color: #cc3333;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.az-stars{
    display: inline-block;
    font-size: 0px;
    input[type="radio"]{
        display: none;
    }
    .az-none{
        display: none;
    }
    label{
        width: 22px;
        height: 15px;
        display: inline-block;
        background: url(../img/gray-star.png) no-repeat top center;
        cursor: pointer;
        //: 0px 5px;
    }
    #a1:checked ~ label,
    #a2:checked ~ label,
    #a3:checked ~ label,
    #a4:checked ~ label,
    #a5:checked ~ label{
        background: url(../img/yellow-star.png) no-repeat top center;
    }
    #a1:checked ~ label[for="a1"] ~ label,
    #a2:checked ~ label[for="a2"] ~ label,
    #a3:checked ~ label[for="a3"] ~ label,
    #a4:checked ~ label[for="a4"] ~ label,
    #a5:checked ~ label[for="a5"] ~ label{
        background: url(../img/gray-star.png) no-repeat top center;
    }

}
.az-stars:hover{
    label{
        background: url(../img/yellow-star.png) no-repeat top center !important;
    }
    label[for="a1"]:hover ~ label,
    label[for="a2"]:hover ~ label,
    label[for="a3"]:hover ~ label,
    label[for="a4"]:hover ~ label,
    label[for="a5"]:hover ~ label{
        background: url(../img/gray-star.png) no-repeat top center !important;
    }
}

.az-check{
    input{
        display: none;
    }
    label{
        display: inline-block;
        margin-left: 20px;
        font-family: "RobotoRegular";
        font-size: 14px;
        position: relative;
        cursor: pointer;
    }
    label:before{
        position: absolute;
        content: '';
        top: 50%;
        left: -20px;
        width: 17px;
        height: 17px;
        transform: translate(0, -50%);
        background: url(../img/checkbox.png) no-repeat top left;
    }
    input:checked ~ label:before{
        background: url(../img/checkedbox.png) no-repeat top left;
    }
}

.az-sel-item{
    width: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: 0px;
    position: relative;
    select{
        width: 100%;
        border: none;
        outline: none;
        //min-height: 30px;
        //line-height: 30px;
        font-family: "RobotoLight";
        font-size: 15px;
        position: relative;
        z-index: 4;
        background: transparent;
        //color: transparent;
        padding: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        //text-indent: 1px;
        //text-overflow: '';
    }
    select::-ms-expand {
        display: none;
    }
    .az-select-arrow{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 100%;
        //border-radius: 
        background: #fff url(../img/select-arrow.png) no-repeat center center;
        display: inline-block;
    }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   .az-center{
        text-align: left;
    }
    .az-list{
        margin: 12px 0 0 0;
    }
    .az-socials {
        text-align: left;
    }
    .az-margin5{
        margin-left: 20px;
    }
    h1{
        text-align: left;
    }
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 15px solid blue;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}